# Eclat Association Learning

## Importing the libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt 
import pandas as pd

In [2]:
dataset = pd.read_csv('../../datasets/Market_Basket_Optimisation.csv', header = None)

In [3]:
transactions = []

for i in range(0, 7501):
    transactions.append([str(dataset.values[i, j]) for j in range(0, 20)])

In [4]:
from apyori import apriori 

rules = apriori(
    transactions = transactions, 
    min_support = 0.003, 
    min_confidence = 0.2, 
    min_lift = 3,
    min_length = 2,
    max_length = 2)

In [5]:
results = list(rules)

In [6]:
def inspect(results):
    lhs = [tuple(result[2][0][0])[0] for result in results]
    rhs = [tuple(result[2][0][1])[0] for result in results]
    supports = [result[1] for result in results]

    return list(zip(lhs, rhs, supports))

resultsinDataFrame = pd.DataFrame(
                        inspect(results), 
                        columns = ['Product 1', 'Product 2', 'Supports'])

In [7]:
resultsinDataFrame

              Product 1    Product 2  Supports
0           light cream      chicken  0.004533
1  mushroom cream sauce     escalope  0.005733
2                 pasta     escalope  0.005866
3         fromage blanc        honey  0.003333
4         herb & pepper  ground beef  0.015998
5          tomato sauce  ground beef  0.005333
6           light cream    olive oil  0.003200
7     whole wheat pasta    olive oil  0.007999
8                 pasta       shrimp  0.005066

In [8]:
resultsinDataFrame.nlargest(n = 10, columns = 'Supports')

              Product 1    Product 2  Supports
4         herb & pepper  ground beef  0.015998
7     whole wheat pasta    olive oil  0.007999
2                 pasta     escalope  0.005866
1  mushroom cream sauce     escalope  0.005733
5          tomato sauce  ground beef  0.005333
8                 pasta       shrimp  0.005066
0           light cream      chicken  0.004533
3         fromage blanc        honey  0.003333
6           light cream    olive oil  0.003200